@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #ccb0b0;
    font-family: 'Playfair Display', serif;
}

table {
    margin: auto;
}

th {
    color: maroon;
}

.left {
    color: #fff;
}